@import url(http://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);

* {
	font-family: nanumgothiccoding, Arial;
	word-spacing: -1px;
}

img {
	width: 100%;
	height: auto;
}

.nav {
	position: absolute;
	margin-left: 75%;
	margin-top: 1%;
}

.nav li {
	display: inline;
	font-size: 17px;
	color: #ffffff;
}


#searcher_1 {
	width: 20%;
	position: absolute;
	margin-top: -15%;
	margin-left: 25%;
}

#searcher_2 {
	width: 20%;
	position: absolute;
	margin-top: -15%;
	margin-left: 46%;
}

#button {
	position: absolute;
	margin-top: -15%;
	margin-left: 67%;
}