<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Academy Page</title>
	<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<link href="/static/css/academy_test_2.css" rel="stylesheet">
	<script type="text/javascript" src="/static/js/academy_test_2.js"></script>
	<style type="text/css"></style>
</head>
<body>
	<!-- navigator start -->
	<div class="nav">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<p>CHUIZONE</p>
				</div>
			</div>
		</div>
	</div>
	<!-- navigator end -->
	<div class="container">
		<div class="row">
			<p>Photo</p>
			<p>Academy</p>
			<p>Teacher</p>
			<p>Curriculum</p>
			<p>Etc</p>
		</div>
	</div>
