<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Academy Page</title>
	<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<style type="text/css"></style>
	<meta name="keywords" content="HTML5 Template" />
	<meta name="description" content="Porto - Responsive HTML5 Template">
	<meta name="author" content="okler.net">

	<!-- Mobile Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Web Fonts  -->
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light" rel="stylesheet" type="text/css">

	<!-- Vendor CSS -->
	<link rel="stylesheet" href="static/vendor/bootstrap/bootstrap.css">
	<link rel="stylesheet" href="static/vendor/fontawesome/css/font-awesome.css">
	<link rel="stylesheet" href="static/vendor/owlcarousel/owl.carousel.css" media="screen">
	<link rel="stylesheet" href="static/vendor/owlcarousel/owl.theme.css" media="screen">
	<link rel="stylesheet" href="static/vendor/magnific-popup/magnific-popup.css" media="screen">

	<!-- Theme CSS -->
	<link rel="stylesheet" href="static/css/theme.css">
	<link rel="stylesheet" href="static/css/theme-elements.css">
	<link rel="stylesheet" href="static/css/theme-blog.css">
	<link rel="stylesheet" href="static/css/theme-shop.css">
	<link rel="stylesheet" href="static/css/theme-animate.css">

	<!-- Skin CSS -->
	<link rel="stylesheet" href="static/css/skins/default.css">

	<!-- Theme Custom CSS -->
	<link rel="stylesheet" href="static/css/custom.css">

	<!-- Head Libs -->
	<script src="static/vendor/modernizr/modernizr.js"></script>

</head>
<body>
	<!-- navigator start -->
	<div class="nav">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<p>CHUIZONE</p>
				</div>
			</div>
		</div>
	</div>
	<!-- navigator end -->

	<div class="row">

		<ul class="portfolio-list sort-destination" data-sort-id="portfolio">
			<li class="col-sm-6 col-xs-12 isotope-item websites">
				<div class="portfolio-item img-thumbnail">
					<a href="#" class="thumb-info">
						<img alt="" width="300" height="230" class="img-responsive" src="static/img/lhooq_0.jpg">
						<span class="thumb-info-title">
							<span class="thumb-info-inner">LHOOQ</span>
							<span class="thumb-info-type">Art</span>
						</span>
						<span class="thumb-info-action">
							<span title="Universal" class="thumb-info-action-icon"><i class="fa fa-star"></i></span>
						</span>
					</a>
				</div>
			</li>
			<li class="col-sm-6 col-xs-12 isotope-item websites">
				<div class="portfolio-item img-thumbnail">
					<a href="#" class="thumb-info">
						<img alt="" width="300" height="500" class="img-responsive" src="static/img/flower_class.jpg">
						<span class="thumb-info-title">
							<span class="thumb-info-inner">Sarah's Garden</span>
							<span class="thumb-info-type">Flower</span>
						</span>
						<span class="thumb-info-action">
							<span title="Universal" class="thumb-info-action-icon"><i class="fa fa-star"></i></span>
						</span>
					</a>
				</div>
			</li>
		</ul>
	</div>
