<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Academy Page</title>
	<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<link href="/static/css/academy.css" rel="stylesheet">
	<script type="text/javascript" src="/static/js/academy.js"></script>
	<style type="text/css"></style>
</head>
<body>
	<!-- navigator start -->
	<div class="nav">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<p>CHUIZONE</p>
				</div>
			</div>
		</div>
	</div>
	<!-- navigator end -->

	<!-- carousel start -->
	<div id="carousel-example-generic" class="carousel slide carousel-fade" data-ride="carousel">
		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
			<li data-target="#carousel-example-generic" data-slide-to="1"></li>
			<li data-target="#carousel-example-generic" data-slide-to="2"></li>
			<li data-target="#carousel-example-generic" data-slide-to="3"></li>
			<li data-target="#carousel-example-generic" data-slide-to="4"></li>
		</ol>
		<!-- Wrapper for slides -->
		<div class="carousel-inner">
			<div class="item active">
				<img src="http://i.imgur.com/rIruKiN.jpg" alt="data-slide-to-0">
				<div class="carousel-caption">
				</div>
			</div>
			<div class="item">
				<img src="http://i.imgur.com/pUcFtF0.jpg" alt="data-slide-to-1">
				<div class="carousel-caption">
				</div>
			</div>
			<div class="item">
				<img src="http://i.imgur.com/q8uLEsF.jpg" alt="data-slide-to-2">
				<div class="carousel-caption">
				</div>
			</div>
			<div class="item">
				<img src="http://i.imgur.com/pAYrbTR.jpg" alt="data-slide-to-3">
				<div class="carousel-caption">
				</div>
			</div>
			<div class="item">
				<img src="http://i.imgur.com/WBgF0o4.jpg" alt="data-slide-to-4">
				<div class="carousel-caption">
				</div>
			</div>
		</div>
		<!-- Controls -->
		<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left"></span>
		</a>
		<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right"></span>
		</a>
	</div>
	<!-- carousel end -->


	<!-- summary info start -->
	<div class="container">
		<div class="row">
			<div class="col-md-1">
			</div>
			<div class="col-md-2" id="summary-teacher">
				<center><img src="http://i.imgur.com/EiyRNm4.jpg" alt="..." class="img-circle"></center>
				<center><p>Mr.Park</p></center>
			</div>
			<div class="col-md-5" id="summary-academy">
				<h1>LHOOQ</h1>
				<h4>서울시 관악구 중앙동 874-13 3층</h4>
				<p>"LHOOQ에서 여러분의 찰나의 여생, 행복의 숙주가 되길 빌어봅니다."</p>
			</div>
			<div class="col-md-4">
				<div id="summary-category"><p>미술</p></div>
				<div id="summary-location"><p>서울/강남/관악구</p></div>
				<div id="summary-page"><p>홈페이지 둘러보기</p></div>
			</div>
		</div>
	</div>
	<!-- summary info end -->

	<div class="introbox">
		<!-- academy introduce start -->
		<div class="container">
			<div class="row">
				<div class="col-md-1">
				</div>
				<div class="col-md-7">
					<h3>학원소개</h3>
					<div id="academy-introduce">
						<p>
							LHOOQ는 뒤샹의 작품 제목에서 슬쩍한 이름입니다.
							LHOOQ를 불어식 스펠링으로 읽으면 [엘라쇼오뀌] 라고 읽는다는데요.
							잘 아시는 상표인 I.N.V.U 가 I envy you와 발음이 비슷하듯이
							불어로 LHOOQ는 [Elle a Chaud au Cul]가 된다는군요.<br><br>

							[Elle a Chaud au Cul]를 영어로 풀어보면 she has a hot ass란 뜻이되죠.<br>
							'그녀는 뜨거운 엉덩이를 가졌다'<br><br>

							역사가들은 여러 정황에 비춰 다빈치가 비역[sodomy:남성간 동성애]이 아닐까 의심했다고 합니다.<br>
							그래서 뒤샹은 모나리자의 얼굴이 사실은 다빈치가 여성으로 분장한것이 아닐까
							하는 짐작으로 수염을 그려 넣은 것이고요.<br><br>

							그래서 모나리자는 '뜨거운 엉덩이를 가진 남자'란 뜻이 됩니다.<br><br>

							하지만 [화실 LHOOQ]는 그 이름과는 달리 '뜨거운 예술혼'으로 뭉친 건전한 예술꾸러기들의 모임입니다. 굳이 LHOOQ를 고집한것은 '뒤샹의 뜨거운 발상'에 솔깃 했을 뿐이지
							뜨거운 엉덩이와는 무관하죠.<br><br>

							독창적인 발랄함을 우선하는 LHOOQ에서
							여러분의 찰나의 여생, 행복의 숙주가 되길 빌어봅니다.
						</p>
					</div>
				</div>
				<div class="col-md-4">
					<!-- <img src="static/img/lhooq_5.jpg" id="academy-introduce-img"> -->
				</div>
			</div>
		</div>
		<!-- academy introduce end -->

		<!-- teacher introduce start -->
		<div class="container">
			<div class="row">
				<div class="col-md-1">
				</div>
				<div class="col-md-7">
					<h3>강사소개</h3>
					<div id="teacher-introduce">
						<p>
							서울대 서양화과를 졸업하고, 아주 잠시간 Russia, Saint Petersburg Academy에서 practical course를 수료했습니다.<br><br>
							04년 화실을 열고 드물게 작업 해오다 우연히 글 쓰는 일을 시작해 2011년에 [미대 나와서 무얼할까1,2/안그라픽스]를, 이후 2012년 고등학교[미술교과서/미진사]를 공저했습니다.<br><br>
							현재는 몇몇 잡지에 글을 기고하며 미술기법 이론서인 [유화], [아크릴], [수채화]를 정리중에 있습니다.
						</p>
					</div>
					<!-- teacher introduce end -->

					<!-- curriculum introduce start -->					
					<h3>커리큘럼소개</h3>
					<div id="curriculum-introduce">
						<p>
							LHOQQ는 'B급 취미미술'을 지향합니다.<br><br>
							지난 10년간 취미미술로 수업해 보니 입시생을 대하듯 엄중할 수는 없다는 사실을 알았습니다. 절대적인 시간이 부족하기도 하지만 그림을 대하는 태도에서 입장차가 있는 만큼 지겨운 선긋기 같은 코스는 무리였지요. 결국 'B급 미술지도'란  흥미를 잃지 않는 어떤 범위의 결계를 만들고 그 안에서 최소의 시간으로 최선의 결과를 내고자 하는 지도법을 말합니다.
						</p>
					</div>
				</div>
				<!-- curriculum introduce start -->
				<div class="col-md-4">
					<h3>Mini Interview</h3>
					<div id="mini-interview">
						<span>Q.선생님은 어떤 화가를 좋아하세요?</span>
						<p>A. 네, 저는 Picasso의 작품을 좋아해요.</p>
						<span>Q.선생님에게 미술이란 무엇일까요?</span>
						<p>A. 글쎄요. 그냥 기분이 좋은 작업같아요.</p>
						<span>Q.미술을 언제부터 왜 시작하셨나요?</span>
						<p>A. 15살부터 시작했던것 같아요.</p>
						<span>Q.휴일에는 뭘 하세요?</span>
						<p>A. 맛있는 거 먹으러 다니는걸 좋아해요. 수강생들과 함께 교외로 가곤하죠.</p>
						<span>Q.미술을 막 배우려는 분들에게 한마디만 해주세요.</span>
						<p>A. 주춤거리지 말고 한번 시도해보세요. 분명 재미있을 거에요.</p>
					</div>
				</div>
			</div>
		</div>
		<!-- curriculum introduce end -->

		<!-- detail introduce start -->
		<div class="container">
			<div class="row">
				<div class="col-md-1">
				</div>
				<div class="col-md-7">
					<h3 id="detail">세부사항</h3>
					<div class="row">
						<div class="col-md-4" id="detail-title">연락처</div>
						<div class="col-md-8" id="detail-contents">010-8902-8902</div>
					</div>
					<hr>
					<div class="row">
						<div class="col-md-4" id="detail-title">수업시간</div>
						<div class="col-md-8" id="detail-contents">평일A반: 3:00 - 6:00 <br> 평일B반: 7:00 - 10:00 <br> 주말반: 1:00 - 6:00</div>
					</div>
					<hr>
					<div class="row">
						<div class="col-md-4" id="detail-title">수강료</div>
						<div class="col-md-8" id="detail-contents">시간과 횟수에 따라 상이합니다. 사이트를 방문해주세요.</div>
					</div>
					<hr>
					<div class="row">
						<div class="col-md-4" id="detail-title">사이트</div>
						<div class="col-md-8" id="detail-contents">cafe.naver.com/lhooq</div>
					</div>
					<hr>
				</div>
				<div class="col-md-4">
				</div>
			</div>
		</div>
		<!-- detail introduce end -->

		<br><br><br>
		<!-- update & delete start -->
		<!-- update & delete end -->
		
	</div>
</body>
</html>