<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Academy Page</title>
	<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<style type="text/css"></style>
	<meta name="keywords" content="HTML5 Template" />
	<meta name="description" content="Porto - Responsive HTML5 Template">
	<meta name="author" content="okler.net">

	<!-- Mobile Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Web Fonts  -->
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light" rel="stylesheet" type="text/css">

	<!-- Vendor CSS -->
	<link rel="stylesheet" href="static/vendor/bootstrap/bootstrap.css">
	<link rel="stylesheet" href="static/vendor/fontawesome/css/font-awesome.css">
	<link rel="stylesheet" href="static/vendor/owlcarousel/owl.carousel.css" media="screen">
	<link rel="stylesheet" href="static/vendor/owlcarousel/owl.theme.css" media="screen">
	<link rel="stylesheet" href="static/vendor/magnific-popup/magnific-popup.css" media="screen">

	<!-- Theme CSS -->
	<link rel="stylesheet" href="static/css/theme.css">
	<link rel="stylesheet" href="static/css/theme-elements.css">
	<link rel="stylesheet" href="static/css/theme-blog.css">
	<link rel="stylesheet" href="static/css/theme-shop.css">
	<link rel="stylesheet" href="static/css/theme-animate.css">

	<!-- Skin CSS -->
	<link rel="stylesheet" href="static/css/skins/default.css">

	<!-- Theme Custom CSS -->
	<link rel="stylesheet" href="static/css/custom.css">

	<!-- Head Libs -->
	<script src="static/vendor/modernizr/modernizr.js"></script>
</head>

<body>
	<div class="container">
		<div class="row contents-position">
			<div class="col-md-6">
				<!-- carousel start -->
				<div id="carousel-example-generic" class="carousel slide carousel-fade" data-ride="carousel">
					<!-- Indicators -->
					<ol class="carousel-indicators">
						<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
						<li data-target="#carousel-example-generic" data-slide-to="1"></li>
						<li data-target="#carousel-example-generic" data-slide-to="2"></li>
						<li data-target="#carousel-example-generic" data-slide-to="3"></li>
						<li data-target="#carousel-example-generic" data-slide-to="4"></li>
					</ol>
					<!-- Wrapper for slides -->
					<div class="carousel-inner">
						<div class="item active">
							<img src="http://i.imgur.com/q8uLEsF.jpg" alt="data-slide-to-0">
							<div class="carousel-caption">
							</div>
						</div>
						<div class="item">
							<img src="http://i.imgur.com/pAYrbTR.jpg" alt="data-slide-to-1">
							<div class="carousel-caption">
							</div>
						</div>
						<div class="item">
							<img src="http://i.imgur.com/q8uLEsF.jpg" alt="data-slide-to-2">
							<div class="carousel-caption">
							</div>
						</div>
						<div class="item">
							<img src="http://i.imgur.com/pAYrbTR.jpg" alt="data-slide-to-3">
							<div class="carousel-caption">
							</div>
						</div>
						<div class="item">
							<img src="http://i.imgur.com/WBgF0o4.jpg" alt="data-slide-to-4">
							<div class="carousel-caption">
							</div>
						</div>
					</div>
				</div>
				<!-- carousel end -->
			</div>


			<div class="col-md-6">
				<div class="tabs">
					<ul class="nav nav-tabs">
						<li class="active">
							<a href="#Welcome" data-toggle="tab"><i class="fa fa-star"></i>Welcome</a>
						</li>
						<li>
							<a href="#Academy" data-toggle="tab">Academy</a>
						</li>
						<li>
							<a href="#Teacher" data-toggle="tab">Teacher</a>
						</li>
						<li>
							<a href="#Interview" data-toggle="tab">Interview</a>
						</li>
						<li>
							<a href="#Curriculum" data-toggle="tab">Curriculum</a>
						</li>
						<li>
							<a href="#Etc" data-toggle="tab">Etc</a>
						</li>
					</ul>
					<div class="tab-content">
						<div id="Welcome" class="tab-pane active">
							<h2><strong>LHOOQ</strong></h2>
							<p>서울시 관악구 중앙동 874-13 3층</p>
							<p>"LHOOQ에서 여러분의 찰나의 여생, 행복의 숙주가 되길 빌어봅니다."</p>
						</div>

						<div id="Academy" class="tab-pane">
							<p>LHOOQ는 뒤샹의 작품 제목에서 슬쩍한 이름입니다.
								LHOOQ를 불어식 스펠링으로 읽으면 [엘라쇼오뀌] 라고 읽는다는데요.
								잘 아시는 상표인 I.N.V.U 가 I envy you와 발음이 비슷하듯이
								불어로 LHOOQ는 [Elle a Chaud au Cul]가 된다는군요.<br><br>

								[Elle a Chaud au Cul]를 영어로 풀어보면 she has a hot ass란 뜻이되죠.<br>
								'그녀는 뜨거운 엉덩이를 가졌다'<br><br>

								독창적인 발랄함을 우선하는 LHOOQ에서
								여러분의 찰나의 여생, 행복의 숙주가 되길 빌어봅니다.
							</p>
						</div>

						<div id="Teacher" class="tab-pane">
							<h3><strong>Mr.Park</strong></h3>
							<p>서울대 서양화과를 졸업하고, 아주 잠시간 Russia, Saint Petersburg Academy에서 practical course를 수료했습니다.<br><br>
							04년 화실을 열고 드물게 작업 해오다 우연히 글 쓰는 일을 시작해 2011년에 [미대 나와서 무얼할까1,2/안그라픽스]를, 이후 2012년 고등학교[미술교과서/미진사]를 공저했습니다.<br><br>
							현재는 몇몇 잡지에 글을 기고하며 미술기법 이론서인 [유화], [아크릴], [수채화]를 정리중에 있습니다.</p>
						</div>

						<div id="Interview" class="tab-pane">
							<p>Interview</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitat.</p>
						</div>

						<div id="Curriculum" class="tab-pane">
							<p>Curriculum</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitat.</p>
						</div>

						<div id="Etc" class="tab-pane">
							<div class="row featured-boxes">
								<div class="col-md-3 col-sm-6">
									<div class="featured-box featured-box-primary">
										<div class="box-content">
											<i class="icon-featured fa fa-user"></i>
											<h4>Phone Number</h4>
											<p>010-1234-5678</p>
										</div>
									</div>
								</div>
								<div class="col-md-3 col-sm-6">
									<div class="featured-box featured-box-secundary">
										<div class="box-content">
											<i class="icon-featured fa fa-book"></i>
											<h4>Time</h4>
											<p>10AM - 10PM</p>
										</div>
									</div>
								</div>
								<div class="col-md-3 col-sm-6">
									<div class="featured-box featured-box-tertiary">
										<div class="box-content">
											<i class="icon-featured fa fa-trophy"></i>
											<h4>Fee</h4>
											<p>150,000/month</p>
										</div>
									</div>
								</div>
								<div class="col-md-3 col-sm-6">
									<div class="featured-box featured-box-quartenary">
										<div class="box-content">
											<i class="icon-featured fa fa-cogs"></i>
											<h4>Web Site</h4>
											<p>Click Me</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Vendor -->
	<script src="static/vendor/jquery/jquery.js"></script>
	<script src="static/vendor/jquery.appear/jquery.appear.js"></script>
	<script src="static/vendor/jquery.easing/jquery.easing.js"></script>
	<script src="static/vendor/jquery-cookie/jquery-cookie.js"></script>
	<script src="static/vendor/bootstrap/bootstrap.js"></script>
	<script src="static/vendor/common/common.js"></script>
	<script src="static/vendor/jquery.validation/jquery.validation.js"></script>
	<script src="static/vendor/jquery.stellar/jquery.stellar.js"></script>
	<script src="static/vendor/jquery.easy-pie-chart/jquery.easy-pie-chart.js"></script>
	<script src="static/vendor/jquery.gmap/jquery.gmap.js"></script>
	<script src="static/vendor/twitterjs/twitter.js"></script>
	<script src="static/vendor/isotope/jquery.isotope.js"></script>
	<script src="static/vendor/owlcarousel/owl.carousel.js"></script>
	<script src="static/vendor/jflickrfeed/jflickrfeed.js"></script>
	<script src="static/vendor/magnific-popup/jquery.magnific-popup.js"></script>
	<script src="static/vendor/vide/jquery.vide.js"></script>

	<!-- Theme Base, Components and Settings -->
	<script src="js/theme.js"></script>

	<!-- Theme Custom -->
	<script src="js/custom.js"></script>

	<!-- Theme Initialization Files -->
	<script src="js/theme.init.js"></script>

</body>
</html>