<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<!-- HTML5 Metas -->
	<meta name="keywords" content="HTML5 Template" />
	<meta name="description" content="Porto - Responsive HTML5 Template">
	<meta name="author" content="okler.net">

	<!-- Mobile Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<!-- CSS.JS. -->		
	<title>List Page</title>
	<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
 	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	
	<!-- <meta name="viewport" content="initial-scale=1.0,user-scalable=no">
	<script src="static/js/jquery.cookie.js"></script>-->
 	
	<!-- daum map head -->
	<script type="text/javascript" src="http://apis.daum.net/maps/maps3.js?apikey=2044740d5825efd04511818f6489e32cbd0b5e71"></script>			
	<link rel="stylesheet" type="text/css" href="static/css/mapnlist.css"/>	
	<style src="static/js/mapnlist.js"></style>

	<!-- Web Fonts  -->
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light" rel="stylesheet" type="text/css">

	<!-- Vendor CSS -->
<!-- 	<link rel="stylesheet" href="static/vendor/bootstrap/bootstrap.css">
	<link rel="stylesheet" href="static/vendor/fontawesome/css/font-awesome.css">
	<link rel="stylesheet" href="static/vendor/owlcarousel/owl.carousel.css" media="screen">
	<link rel="stylesheet" href="static/vendor/owlcarousel/owl.theme.css" media="screen">
	<link rel="stylesheet" href="static/vendor/magnific-popup/magnific-popup.css" media="screen"> -->

	<!-- Theme CSS -->
	<link rel="stylesheet" href="static/css/theme.css">
	<link rel="stylesheet" href="static/css/theme-elements.css">
	<link rel="stylesheet" href="static/css/theme-blog.css">
	<link rel="stylesheet" href="static/css/theme-shop.css">
	<link rel="stylesheet" href="static/css/theme-animate.css">

	<!-- Skin CSS -->
	<link rel="stylesheet" href="static/css/skins/default.css">

	<!-- Theme Custom CSS -->
	<link rel="stylesheet" href="static/css/custom.css">

	<!-- Head Libs 
	<script src="static/vendor/modernizr/modernizr.js"></script>-->

</head>
<body>
	<!-- navigator start -->
	<div class="nav">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<p>CHUIZONE</p>
				</div>
				<div class="col-md-9">
					<!-- searcher start -->
					<div class="searcher">
						<div class="row">
							<form role="form" method="GET" action="{{url_for('mapnlist')}}">
								<div class="col-md-5">				
									<select class="form-control" name="searcher_1" id="searcher_1">
										<option name="all" value="37.497962,127.027610">지역을 선택하세요</option>
										<option name="all" value="37.497962,127.027610">전체</option>
										<option name="kng" value="37.497962,127.027610">강남구(강남역)</option>
										<option name="kdg" value="37.535896,127.132356">강동구(강동역)</option>
										<option name="kbg" value="37.626243,127.026108">강북구(미아역)</option>
										<option name="ksg" value="37.548253,126.863421">강서구(강서구청)</option>
										<option name="kag" value="37.481212,126.952903">관악구(서울대입구역)</option>
										<option name="kjg" value="37.537163,127.086116">광진구(구의역)</option>
										<option name="krg" value="37.503275,126.882218">구로구(구로역)</option>
										<option name="kcg" value="37.454757,126.900526">금천구(시흥사거리)</option>
										<option name="nwg" value="37.655637,127.060264">노원구(노원역)</option>
										<option name="dbg" value="37.648519,127.034618">도봉구(쌍문역)</option>
										<option name="ddmg" value="37.564218,127.007174">동대문구(역사문화공원역)</option>
										<option name="djg" value="37.513587,126.940881">동작구(노량진역)</option>
										<option name="mpg" value="37.556861,126.923750">마포구(홍대입구역)</option>
										<option name="sdmg" value="37.579256,126.936128">서대문구(서대문구청)</option>
										<option name="scg" value="37.493697,127.013710">서초구(교대역)</option>
										<option name="sdg" value="37.561172,127.035390">성동구(왕십리역)</option>
										<option name="sbg" value="37.592753,127.016468">성북구(성신여대)</option>
										<option name="spg" value="37.513299,127.100130">송파구(잠실역)</option>
										<option name="ycg" value="37.526175,126.864311">양천구(목동오거리)</option>
										<option name="ydpg" value="37.516426,126.906626">영등포구(영등포역)</option>
										<option name="ysg" value="37.529229,126.967933">용산구(신용산역)</option>
										<option name="epg" value="37.610953,126.929535">은평구(불광역)</option>
										<option name="jrg" value="37.570420,126.992134">종로구(종로3가)</option>
										<option name="jg" value="37.566040,126.982676">중구(을지로입구역)</option>
										<option name="jlg" value="37.596383,127.085549">중랑구(상봉역)</option>
									</select>
								</div>
								<div class="col-md-5">
									<select class="form-control" name="searcher_2" id="searcher_2">
										<option value="all">취미를 선택하세요</option>
										<option value="all">전체</option>
										<option value="craft">공예</option>
										<option value="art">미술</option>
										<option value="sport">스포츠</option>
										<option value="cooking">요리</option>
										<option value="music">음악</option>
										<option value="flower">플라워</option>
									</select>
								</div>
								<div class="col-md-2">
									<input type="submit" class="btn btn-default" id="button" value="취미 찾기">
									</input>
								</div>
							</form>				
						</div>
					</div>
					<!-- searcher end -->
				</div>
			</div>
		</div>
	</div>
	<!-- navigator end -->
	<!-- right page start -->
	<div class="row">
		<div class="col-md-6">
			<div id="map"></div>
		</div>
		<!-- right page end -->

		<!-- left page start -->
		<div class="col-md-6">
			<!-- list start -->
			<div class="list">
				<br />
				<br />
				<div class="row">
					<ul class="portfolio-list sort-destination" data-sort-id="portfolio">
						<li class="col-sm-6 col-xs-12 isotope-item websites">
							<div class="portfolio-item img-thumbnail">
								<a href="#" class="thumb-info">
									<img alt="" class="img-responsive" src="static/img/lhooq_0.jpg">
									<span class="thumb-info-title">
										<span class="thumb-info-inner">LHOOQ</span>
										<span class="thumb-info-type">Art</span>
									</span>
									<span class="thumb-info-action">
										<span title="Universal" class="thumb-info-action-icon"><i class="fa fa-star"></i></span>
									</span>
								</a>
							</div>
						</li>
						<li class="col-sm-6 col-xs-12 isotope-item websites">
							<div class="portfolio-item img-thumbnail">
								<a href="#" class="thumb-info">
									<img alt="" class="img-responsive" src="static/img/lhooq_0.jpg">
									<span class="thumb-info-title">
										<span class="thumb-info-inner">LHOOQ</span>
										<span class="thumb-info-type">Art</span>
									</span>
									<span class="thumb-info-action">
										<span title="Universal" class="thumb-info-action-icon"><i class="fa fa-star"></i></span>
									</span>
								</a>
							</div>
						</li>
						<li class="col-sm-6 col-xs-12 isotope-item websites">
							<div class="portfolio-item img-thumbnail">
								<a href="#" class="thumb-info">
									<img alt="" class="img-responsive" src="static/img/lhooq_0.jpg">
									<span class="thumb-info-title">
										<span class="thumb-info-inner">LHOOQ</span>
										<span class="thumb-info-type">Art</span>
									</span>
									<span class="thumb-info-action">
										<span title="Universal" class="thumb-info-action-icon"><i class="fa fa-star"></i></span>
									</span>
								</a>
							</div>
						</li>
						<li class="col-sm-6 col-xs-12 isotope-item websites">
							<div class="portfolio-item img-thumbnail">
								<a href="#" class="thumb-info">
									<img alt="" class="img-responsive" src="static/img/lhooq_0.jpg">
									<span class="thumb-info-title">
										<span class="thumb-info-inner">LHOOQ</span>
										<span class="thumb-info-type">Art</span>
									</span>
									<span class="thumb-info-action">
										<span title="Universal" class="thumb-info-action-icon"><i class="fa fa-star"></i></span>
									</span>
								</a>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- list end -->
	<!-- left page end -->
	</div>


</body>
</html>