<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>List Page</title>
	<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<style type="text/css"></style>
	<meta name="viewport" content="initial-scale=1.0,user-scalable=no">
	<script type="text/javascript" src="static/js/mapnlist.js"></script>
	<link rel="stylesheet" type="text/css" href="static/css/mapnlist.css"/>	
	<script type="text/javascript" src="http://apis.daum.net/maps/maps3.js?apikey=2044740d5825efd04511818f6489e32cbd0b5e71"></script>
</head>
<body>
	<!-- navigator start -->
	<div class="nav">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<p>CHUIZONE</p>
				</div>
				<div class="col-md-3">
					
				</div>
			</div>
		</div>
	</div>
	<!-- navigator end -->
	<!-- right page start -->
	<div class="row">
		<div class="col-md-5">
			<div id="map"></div>
		</div>
		<!-- right page end -->

		<!-- left page start -->
		<div class="col-md-7">
			<!-- searcher start -->
			<div class="searcher">
				<div class="row">
					<div class="col-md-3">
						<p>지역</p>
					</div>
					<form role="form" method="GET" action="{{url_for('mapdata')}}">
						<div class="col-md-9">				
							<select class="form-control" name="searcher_1" id="searcher_1">
								<option value="all">지역을 선택하세요</option>
								<option value="all">전체</option>
								<option value="kng">강남구</option>
								<option value="kdg">강동구</option>
								<option value="kbg">강북구</option>
								<option value="ksg">강서구</option>
								<option value="kag">관악구</option>
								<option value="kjg">광진구</option>
								<option value="krg">구로구</option>
								<option value="kcg">금천구</option>
								<option value="nwg">노원구</option>
								<option value="dbg">도봉구</option>
								<option value="ddmg">동대문구</option>
								<option value="djg">동작구</option>
								<option value="mpg">마포구</option>
								<option value="sdmg">서대문구</option>
								<option value="scg">서초구</option>
								<option value="sdg">성동구</option>
								<option value="sbg">성북구</option>
								<option value="spg">송파구</option>
								<option value="ycg">양천구</option>
								<option value="ydpg">영등포구</option>
								<option value="ysg">용산구</option>
								<option value="epg">은평구</option>
								<option value="jrg">종로구</option>
								<option value="jg">중구</option>
								<option value="jlg">중랑구</option>
							</select>
						</div>
					</div>
					<div class="row">
						<div class="col-md-3">
							<p>취미</p>
						</div>
						<div class="col-md-9">
							<select class="form-control" name="searcher_2" id="searcher_2">
								<option value="all">취미를 선택하세요</option>
								<option value="all">전체</option>
								<option value="craft">공예</option>
								<option value="art">미술</option>
								<option value="sport">스포츠</option>
								<option value="cooking">요리</option>
								<option value="music">음악</option>
								<option value="flower">플라워</option>
							</select>
						</div>
					</div>
					<input type="submit" class="btn btn-default" id="button">
					취미 찾기
					</input>
				</form>				
			</div>
			<!-- searcher end -->


			<!-- list start -->
			<div class="list">
				<div class="row">
					<div class="col-md-6">
						<center>
							<div class="academy_list">
								<img src="/static/img/lhooq_0.jpg">
								<p>LHOOQ, 미술</p>
							</div>
						</center>
						<center>
							<div class="academy_list">
								<img src="/static/img/leather_class.jpg">
								<p>Leather Craft, 공예</p>
							</div>
						</center>
					</div>
					<div class="col-md-6">
						<center>
							<div class="academy_list">
								<img src="/static/img/flower_class.jpg">
								<p>Sarah's Garden, 플라워</p>
							</div>
						</center>
						<center>
							<div class="academy_list">
								<img src="/static/img/cooking_class.jpg">
								<p>My Kitchen, 요리</p>
							</div>
						</center>
					</div>
				</div>
			</div>
		</div>
		<!-- list end -->
		<!-- left page end -->
	</div>


</body>
</html>